
.conteiner {
    border: 2px solid #1976d2;
    width: 300px;
    height: 320px;
    border-radius: 20px;
    margin-right: 30px;
}

.defaultClass {
    border: 2px solid #1976d2;
    width: 250px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-radius: 20px;
}

.error {
    font-size: 30px;
    font-weight: 700;
    color: #1976d2;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #1976d2;
    width: 250px;
    height: 60px;
    border-radius: 20px;
}

.red {
    color: red;
}

.numberClass {
    margin-top: 35px;
    font-size: 80px;
    font-weight: 700;
    user-select: none;
}

.numberClass p {
    margin-top: 10px;
}
