.link{
    margin: 10px;
    text-decoration: none;
    color: cadetblue;
}

.conteiner{
    display: flex;
    /*transition: 300ms;*/
    /*transform: translate(-240px);*/
}

.conteiner:hover{
    /*transition-duration: 300ms;*/
    /*transform: translate(0);*/
}

.block{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: cornflowerblue;
}

 .linkActive{
     margin: 10px;
     text-decoration: none;
    color: #0000f0;
}
